#Temp files
*~
*.bak

# Documentation build directory
Doc/manual

# Sourcecode testing
SourceCode/Processing/build
SourceCode/Java/build
SourceCode/JavaScript/build
SourceCode/Python/build
SourceCode/JavaScript/node_modules
SourceCode/C++/build

#Books directory (these are build targets)
Books

#ignore compiled Python files
*pyc

# Minified JS and CSS files
lib/*-min.*

#Ignore live site directories and files that shouldn't be in the repository
.htaccess

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json

# Symlinks
SourceCode/Processing/build
xblocks/xblock-jsav/jsav/public/_static
xblocks/xblock-jsav/jsav/public/AV
xblocks/xblock-jsav/jsav/public/JSAV
xblocks/xblock-jsav/jsav/public/lib
#xblocks/xblock-module/module/public/_static
xblocks/xblock-module/module/public/AV
xblocks/xblock-module/module/public/JSAV
xblocks/xblock-module/module/public/lib
xblocks/xblock-content/content/public/html