<div id="ODSAModule">
<div class="topnav">
        <p>
            <a style="float:left;color:blue;" href="{{source_link}}" target="_blank" rel="nofollow">Show Source | </a>&nbsp;&nbsp;
            <a class="abt" style="float:left;color:blue;" href="#" rel="nofollow">| About</a>&nbsp;&nbsp;

          
        «&nbsp;&nbsp;<a id="prevmod" href="{{prev_link}}">{{prev_name}}</a>
        &nbsp;&nbsp;::&nbsp;&nbsp;
        <a class="uplink" href="{{toc_link}}">Contents</a>
        &nbsp;&nbsp;::&nbsp;&nbsp;
        <a id="nextmod" href="{{next_link}}">{{next_name}}</a>&nbsp;&nbsp;»


        </p>
      </div>
</div>