{% if weight%} 
<div id="jsav_status">
    Your current score on this question is <span class="problem_score">{{student_score}}</span>&nbsp;/&nbsp;<span class="problem_weight">{{weight}}</span>
    <span class="problem_complete">
      {% if student_proficiency %} 
        <img src="{{correct_icon}}">
      {% else %}
        <img src="{{incorrect_icon}}">
      {% endif %}
  </span>
</div>
{% endif %}

<div id="{{name}}" class="ssAV" data-points="0.0" data-threshold="1.0" data-type="ss" data-required="False" data-long-name="Quicksort Partition Slideshow">
  <span class="jsavcounter"></span>
  <a class="jsavsettings" href="#">Settings</a>
  <div class="jsavcontrols"></div>
  <p class="jsavoutput jsavline"></p>
  <div class="jsavcanvas"></div>
  <div class="prof_indicators">
    <img id="{{name}}_check_mark" class="prof_check_mark" src="/resource/jsav/public/_static/Images/green_check.png" alt="Proficient" />
    <span id="{{name}}_cm_saving_msg" class="cm_saving_msg">Saving...</span>
    <span id="{{name}}_cm_error_msg" class="cm_error_msg">
    <img id="{{name}}_cm_warning_icon" class="cm_warning_icon" src="/resource/jsav/public/_static/Images/warning.png" alt="Error Saving" /><br />
    Server Error<br />
    <a href="#" class="resubmit_link">Resubmit</a>
    </span>
  </div>
</div>