<div id="ODSAModule">
    <div class="center">
        {% if weight%}
            <div id="jsav_status">
                Your current score on this question is <span class="problem_score">{{student_score}}</span>&nbsp;/&nbsp;<span class="problem_weight">{{weight}}</span>
                <span class="problem_complete">
                {% if student_proficiency %}
                    <img src="{{correct_icon}}">
                {% else %}
                    <img src="{{incorrect_icon}}">
                {% endif %}
                </span>
            </div>
        {% endif %}
        <iframe
        class="jsav_iframe"
        style="border: none;"
        src="{{problem_url}}"
        width="{{width}}" height="{{height}}">...</iframe>
    </div>
</div>