<div class="jsav_studio">
  <div>
  <p>Select a problem from the list...</p>
  <select id="jsav_problem_select">
  {% for group in exercises%}
    <option value="" disabled="disabled">{{group.name}}</option>
      {% for exercise in group.exercises%}
        <option value="{{exercise.source}}">&nbsp;&nbsp;&nbsp;{{exercise.name}}</option>
      {% endfor %}
  {% endfor %}
  </select>
  <button id="jsav_problem_submit">Submit</button>
</div>

<div>
  <p><em>OR</em> submit a problem url. URLs are only accepted from <em>cs.hut.fi</em> domains.</p>
    <input type="text" id="jsav_problem_url" value="{{problem_url}}" size="90" /><button id="jsav_url_submit">Submit</button>
  </div>
</div>
</div>
